name: PR Checks
on: [pull_request]

jobs:
    run_tests:
        name: Rust CI Ubuntu
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions-rs/toolchain@v1
              with:
                toolchain: nightly
                profile: minimal
                components: rustfmt, llvm-tools-preview, rust-src
                target: x86_64-unknown-linux-gnu
                override: true
            - name: Install wasm-opt
              # we manually install binaryen with version >= 99 which is needed for ink cli
              run: |
                wget -O binaryen.deb http://mirrors.kernel.org/ubuntu/pool/universe/b/binaryen/binaryen_99-3_amd64.deb
                sudo dpkg -i -y binaryen.deb
                sudo apt-get install -f
            - name: Install ink CLI
              run: |
                ./scripts/init.sh
              shell: bash
            - name: Build Project
              run:  ./scripts/build.sh
              shell: bash
            - name: Run Unit Test and Format Check
              run: ./scripts/test.sh
              shell: bash