name: PR Checks
on: [pull_request]

jobs:
    run_tests:
        name: Rust CI
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - name: Set Rust Toolchain
              uses: actions-rs/toolchain@v1
              run:  ./scripts/init.sh
            - name: Build Project
              run:  ./scripts/build.sh
            - name: Run Unit Test and Format Check
              run: ./scripts/test.sh