name: PR Checks
on: [pull_request]

jobs:
    run_tests:
        name: Rust CI
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions-rs/toolchain@v1
              with:
                toolchain: nightly
                profile: default
                components: rustfmt, llvm-tools-preview, rust-src, rls-preview
                target: nightly-x86_64-unknown-linux-gnu
                override: true
            - name: Install ink CLI
              run: ./scripts/init.sh
              shell: bash
            - name: Build Project
              run:  ./scripts/build.sh
              shell: bash
            - name: Run Unit Test and Format Check
              run: ./scripts/test.sh
              shell: bash